<!DOCTYPE html>
<html>
  <head>
        <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://www.google.com">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Find My Stuff - DTU</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> 
    <link rel="stylesheet" href="../../public/main.css" type="text/css">
    <style rel="stylesheet" type="text/css">
        #map {
            height: 93%;  
            width: 100%; 
            padding:0;
            margin:0;
        }
        
            
        html,body{
            height:100%;
            margin:0;
            padding:0;
            font-family: 'Roboto', sans-serif;


        }
        .navbar-inverse{
            padding:0;
            margin:0;
            color:white;
        }


        /* from Mozilla Debugging */


        .index-buttons{
            text-align: center;
            background:rgba(255,255,255,0.2);
            padding:0;
            margin:0;
            position:fixed;
            bottom:0;
            /* margin-left:15%; */
            width:100%;
            
        }
        .container .container-buttons{
            width:100%;
            
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            /* background-color: red; */
            /* color: white; */
            text-align: center;
        }

    </style>
  </head>
  <body>
        <nav class="navbar navbar-inverse" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
            <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"> <i class="fab fa-searchengin"></i> Find My Stuff</a>
                    </div>
                
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="items"> <i class="fas fa-list-ul"></i> Items List</a></li>
                            <li><a href="https://fb.me/findmystuffdtu" target="_blank"><i class="fab fa-facebook-f"></i> Facebook Page</a></li>
                        </ul>
                        
                        <ul class="nav navbar-nav navbar-right">
                            <!-- <li><a href="team"> <i class="fab fa-teamspeak"></i> Team</a></li> -->
                            <!-- <li><a href="about"> <i class="fas fa-question"></i> About</a></li> -->
                            <!-- <li><a href="stats"> <i class="fas fa-chart-area"></i> Stats</a></li> -->
                            <%=currentUser%>
                            <%=console.log(currentUser)%>
                            <%if(!currentUser){%>
                                <li><a href="login"> <i class="fas fa-sign-in-alt"></i> Login</a></li>
                                <li><a href="register"> <i class="fas fa-user-plus"></i> Sign Up</a></li>
                            <%} else {%>
                                <li><a href="#"> <i class="fas fa-user-plus"></i> Signed in as : <%=currentUser.username%></a></li>
                                <li><a href="logout"> <i class="fab fa-login"></i> Logout</a></li>
                            
                            <%}%>
                            

                            
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>

