<% include ../partials/header %>


<div class="container">
    <div class="row">
        <h1 style="text-align:center;"> Edit Comment:</h1>
        <div style="width:50%; margin: 25px auto">
            <form action="/items/<%=item_id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" value="<%=comment.text%>">
                </div>
                
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </form>
            <br>
            <a href="/item/<%=item_id%>">Go back</a>
        </div>
        
    </div>
    
</div>



<% include ../partials/footer %>