<% include ../partials/header %>


<div class="container">
    <div class="row">
        <h1 style="text-align:center;"> Add New Comment to <%=item.item%></h1>
        <div style="width:50%; margin: 25px auto">
            <form action="/items/<%=item._id%>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="Text">
                </div>
                
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </form>
            <br>
            <a href="/item/<%=item._id%>">Go back</a>
        </div>
        
    </div>
    
</div>



<% include ../partials/footer %>