<% include partials/header %>

    <div class="container center" >
        <div class="row">
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" type="text" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" placeholder="Password">
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>


<% include partials/footer %>
