<% include partials/header %>
<div class="container" style:"text-align:center;">
    <div class="row">
            <div class="jumbotron" >
                <h1>Item:<%=item.item%></h1>
                <p><img src="<%=item.image%>" alt="Associated Image"></p>
                <p>Item Specifications: <%=item.specifications%></p>
                <p>Item Details: <%=item.details%></p>
            </div>
    </div>
</div>

<% include partials/footer %>